@import url("https://use.typekit.net/eia7dfc.css");

/* body {
  background: url("https://res.cloudinary.com/dn1e07eul/image/upload/v1613436052/100%20Days%20Of%20Code/spacewallpaper_tusgkh.jpg")
    no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: -2;
} */

body {
  font-family: news-gothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  margin: 50% 0 0 0;
  position: relative;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 42%;
  margin: 0 auto;
  /* z-index: 2; */
}

.scroll-text {
  color: #ffc909;
  font-size: 3.25vw;
  line-height: 1.5em;
  letter-spacing: 0.09em;
  text-align: justify;
  text-justify: inter-word;
  position: relative;
  align-items: center;
}

h1 {
  font-size: 5vw;
  text-align: center;
  text-justify: inter-word;
  line-height: 1.25em;
}
h2 {
  font-size: 3.5vw;
  line-height: 1.25em;
  text-align: center;
  text-justify: inter-word;
}
h1,
h2 {
}

html {
  background: url("https://res.cloudinary.com/dn1e07eul/image/upload/v1613436052/100%20Days%20Of%20Code/spacewallpaper_tusgkh.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  z-index: -1;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  html {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
